{% extends "base.html" %}

{% block titulo %}Agregar una licencia{% endblock %}

{% block contenido %}
<div class="container">
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <br>    
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>  
                    {% include 'licencias/form.html' %}
                </div>   
            </div>
        </div>
    </div>
</div>           

{% endblock %}

